.bt1{
    padding:5px 20px;
    background-color:gold;
    color: green;
    border:none;
    border-radius: 10px;
}
#bt2{
    padding:5px 20px;
    background-color:rgb(152, 182, 94);
    color: green;
    border:none;
    border-radius: 10px;
}